@use 'rem-function' as f;
@import 'variables';

.container {
    height: 300px;
    width: auto;
}



@mixin article-style($color, $border-color, $font-size: $default-font-size) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $color;
    border: 1px solid $border-color;
    font-size: $font-size;
    padding: f.Rem(10);
}

h1 {
    margin-bottom: f.Rem(20);
    text-decoration: underline;
    text-decoration-color: blue;
}

div {
    width: 100%;
    margin-bottom: f.Rem(30);
    @include article-style(green, red);
    justify-content: center;
}

section {
    display: flex;
    flex-direction: row;
}

.article1 {
    @include article-style(blue, green);
}

.article2 {
    @include article-style(red, green);
}

.footer {
    margin-top: f.Rem(10);
    width: f.Rem(1445);
    @include article-style(green, blue, f.Rem(24));
}

