@import 'conversion';

$default-font-size: Rem(16);

@mixin article-style($color, $border-color, $font-size: $default-font-size) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $color;
    border: 1px solid $border-color;
    font-size: $font-size;
    padding: Rem(10);
}

h1 {
    margin-bottom: Rem(20);
    text-decoration: underline;
    text-decoration-color: blue;
}

div {
    width: 100%;
    margin-bottom: Rem(30);
    @include article-style(green, red);
    justify-content: center;

    &h2h1h1h2 {
        @extend h1;
        padding: Rem(10);
        border-color: red;
    }
}

section {
    display: flex;
    flex-direction: row;
}

.article1 {
    @include article-style(blue, green);
}

.article2 {
    @include article-style(red, green);
}

.footer {
    margin-top: Rem(10);
    width: Rem(1445);
    @include article-style(green, blue, Rem(24));
}

